form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
    height: 50px;
    /* Centra verticalmente e orizzontalmente */

}

input {
    margin: 5px;
}

body {
    background-color: black;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -25px 0 0 -25px;
    
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
    border-radius: 2px;
    display: block;
    height: auto;
    max-width: 100%;
}

.divDisplay {
    text-align: center;
    display: none;
}

.divDisplay:after, :before {
    box-sizing: inherit;
}

label{
    text-transform: initial;
    color: bisque;
    text-align: center;
}

input{
    box-sizing: inherit;
    border-radius: 20px;
    height: 300px;

}